{%load static%}
<html lang="en">

<head>
　　<title>おじさんラインチェッカー</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="おじさんラインのレベルを認定するサイト　送られた文章をコピペしてチェックするボタンを押すだけで簡単に測れます。送られたあなたも、送ろうとしているあなたも測ってみよう。">
  <meta name="author" content="">

  <title>{%block title%}{%endblock%}</title>

  <!-- Bootstrap core CSS -->
  <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{%static 'css/heroic-features.css'%}" rel="stylesheet">
  <link href="{%static 'css/mystyle.css'%}" rel="stylesheet">

</head>

<body>


  <!-- Page Content -->
  <div class="container">
{%block content%}

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 mymy">
      <img src="static/img/img.png">
      <h1 class="display-4">おじさんラインチェッカー</h1>
      <p class="lead">おじさんからの文章や自分が送ろうとしている文章をコピペしてここに入力してね</p>
      <p class="lead">スタンプのところがかっこの中に文字になっていても大丈夫です。</p>

          <form action="answer/" method="get">
            <textarea cols="30" rows="10" name="bunsyou"></textarea>
        <input type="submit"　 value="チェックする">
    </form>
    </header>
    {%endblock%}
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">注意点</h4>
            <p class="card-text">まるかっこ（）が顔文字に使われていると判定が正しくできないことがあります。</p>
            <p class="card-text">文章が長いほどおじさんレベルの信頼度が上がります。</p>
            <p class="card-text">文章がサーバーに保存されることはありませんので安心してお使いください</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">いつ使うの？</h4>
            <p class="card-text">送られてきた文章がおじさんラインっぽいって思ったとき.</p>
            <p class="card-text">相手に送る前に自分の文章がおじさんラインになってないか不安になったとき.</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">作った人</h4>
            <p class="card-text">トムソンガジェルと申します。しがない人生を送っております</p>
            <p class="card-text">ブログやってるのでよろしく～</p>
          </div>
          <div class="card-footer">
            <a href="https://tomsongazel.com/" class="btn btn-primary">ぶろぐ</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; トムソンガジェル</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
