.container{
background-color:#66CCCC;
}

.mymy{
background-color:#339999;
}

.level6{
background-color:#FF4500;
}

.level5{
background-color:#FFD700;
}

.level4{
background-color:#DEB887;
}

.level3{
background-color:#FFC0CB;
}
.level2{
background-color:#FF4500;
}

.level1{
background-color:#00BFFF;
}